.jatekter {
    display:grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 20vw 20vw 20vw;
    gap: 1vw;
    width: 70vw;
    margin: auto;
}

.be-elem, .ki-elem {
    font-size: 150px;
    border: 5px solid black;
    border-radius: 50px;
}

.be-elem{
    background-color: yellow;
}

.ki-elem{
    background-color: green;
}

